<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_533f509f9a9ef231767e580c4d95f538 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_533f509f9a9ef231767e580c4d95f538" ></div>
        
</body>
<script>
    
    
            var map_533f509f9a9ef231767e580c4d95f538 = L.map(
                "map_533f509f9a9ef231767e580c4d95f538",
                {
                    center: [22.559628171320554, 88.39632949346063],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_44ee8da857ca0ad03972b18841792e01 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_533f509f9a9ef231767e580c4d95f538);
        
    
            var feature_group_eb8eef8ce637a3a0b2cdda3b19dbec49 = L.featureGroup(
                {}
            ).addTo(map_533f509f9a9ef231767e580c4d95f538);
        
    
            var marker_2ad8916b30b3d5c0b59235e81ff868e8 = L.marker(
                [22.560625171105162, 88.4091965688475],
                {}
            ).addTo(feature_group_eb8eef8ce637a3a0b2cdda3b19dbec49);
        
    
            var icon_794fc722ac38483e17e8e7e31869e839 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "hospital", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_2ad8916b30b3d5c0b59235e81ff868e8.setIcon(icon_794fc722ac38483e17e8e7e31869e839);
        
    
        var popup_25790135a9ef3f4317a7127bc8c57aae = L.popup({"maxWidth": "100%"});

        
            
                var html_4741e70a4b838355b1fb800a9aa3bbd3 = $(`<div id="html_4741e70a4b838355b1fb800a9aa3bbd3" style="width: 100.0%; height: 100.0%;">Techno India DAMA </div>`)[0];
                popup_25790135a9ef3f4317a7127bc8c57aae.setContent(html_4741e70a4b838355b1fb800a9aa3bbd3);
            
        

        marker_2ad8916b30b3d5c0b59235e81ff868e8.bindPopup(popup_25790135a9ef3f4317a7127bc8c57aae)
        ;

        
    
    
            var marker_73d9c489c061fe89e205d343506c294d = L.marker(
                [22.563458354978074, 88.39852763763894],
                {}
            ).addTo(feature_group_eb8eef8ce637a3a0b2cdda3b19dbec49);
        
    
            var icon_a4990598feb486cf30df6daa8654e550 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "hospital", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_73d9c489c061fe89e205d343506c294d.setIcon(icon_a4990598feb486cf30df6daa8654e550);
        
    
        var popup_1d3d81cdc5005a42f44dfd48a5169cdb = L.popup({"maxWidth": "100%"});

        
            
                var html_666ed8b074ce5fb9fe0f65642b93ea9d = $(`<div id="html_666ed8b074ce5fb9fe0f65642b93ea9d" style="width: 100.0%; height: 100.0%;">Infectious Diseases & Beleghata General Hospital</div>`)[0];
                popup_1d3d81cdc5005a42f44dfd48a5169cdb.setContent(html_666ed8b074ce5fb9fe0f65642b93ea9d);
            
        

        marker_73d9c489c061fe89e205d343506c294d.bindPopup(popup_1d3d81cdc5005a42f44dfd48a5169cdb)
        ;

        
    
    
            var marker_c17521768d99ec0ec87d30ba88d08d90 = L.marker(
                [22.563952802198664, 88.37023181489849],
                {}
            ).addTo(feature_group_eb8eef8ce637a3a0b2cdda3b19dbec49);
        
    
            var icon_ae722b422b1098f64750ed734b97198e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "hospital", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_c17521768d99ec0ec87d30ba88d08d90.setIcon(icon_ae722b422b1098f64750ed734b97198e);
        
    
        var popup_7f836c4f0fe6d5c6fad70008a4011279 = L.popup({"maxWidth": "100%"});

        
            
                var html_e9ce99f289e7f113e82e62319cb98a2d = $(`<div id="html_e9ce99f289e7f113e82e62319cb98a2d" style="width: 100.0%; height: 100.0%;">NRS MEDICAL COLLEGE AND HOSPITAL</div>`)[0];
                popup_7f836c4f0fe6d5c6fad70008a4011279.setContent(html_e9ce99f289e7f113e82e62319cb98a2d);
            
        

        marker_c17521768d99ec0ec87d30ba88d08d90.bindPopup(popup_7f836c4f0fe6d5c6fad70008a4011279)
        ;

        
    
    
            var marker_77d235938ac4a2178a843fddef4222e5 = L.marker(
                [22.539864812065968, 88.3421653088026],
                {}
            ).addTo(feature_group_eb8eef8ce637a3a0b2cdda3b19dbec49);
        
    
            var icon_c71710f864c928ca050aaeb0a1126bc5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "hospital", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_77d235938ac4a2178a843fddef4222e5.setIcon(icon_c71710f864c928ca050aaeb0a1126bc5);
        
    
        var popup_c40ae4a14bd887bfef32a338d29a704b = L.popup({"maxWidth": "100%"});

        
            
                var html_32194b24ae9e1a25317f41f649d3ae12 = $(`<div id="html_32194b24ae9e1a25317f41f649d3ae12" style="width: 100.0%; height: 100.0%;">IPGME&R and SSKM Hospital</div>`)[0];
                popup_c40ae4a14bd887bfef32a338d29a704b.setContent(html_32194b24ae9e1a25317f41f649d3ae12);
            
        

        marker_77d235938ac4a2178a843fddef4222e5.bindPopup(popup_c40ae4a14bd887bfef32a338d29a704b)
        ;

        
    
    
            var marker_332039050b573e50a9cc074b26d03ad0 = L.marker(
                [22.54633806506586, 88.37122797996714],
                {}
            ).addTo(feature_group_eb8eef8ce637a3a0b2cdda3b19dbec49);
        
    
            var icon_b7f6ae47819ba71f3e741e86ef3c5507 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "hospital", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_332039050b573e50a9cc074b26d03ad0.setIcon(icon_b7f6ae47819ba71f3e741e86ef3c5507);
        
    
        var popup_853e5c1f9cbb6fb66a961c320007bfcd = L.popup({"maxWidth": "100%"});

        
            
                var html_d690e1b312b1800bd0f6eefba6a71828 = $(`<div id="html_d690e1b312b1800bd0f6eefba6a71828" style="width: 100.0%; height: 100.0%;">Calcutta National Medical College & Hospital</div>`)[0];
                popup_853e5c1f9cbb6fb66a961c320007bfcd.setContent(html_d690e1b312b1800bd0f6eefba6a71828);
            
        

        marker_332039050b573e50a9cc074b26d03ad0.bindPopup(popup_853e5c1f9cbb6fb66a961c320007bfcd)
        ;

        
    
    
            var marker_ece4c9f928b4be25a2bbab218f1b3ebf = L.marker(
                [22.573224196845302, 88.36162132229664],
                {}
            ).addTo(feature_group_eb8eef8ce637a3a0b2cdda3b19dbec49);
        
    
            var icon_68ca2e838b75e5eae76f43610b532e77 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "hospital", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_ece4c9f928b4be25a2bbab218f1b3ebf.setIcon(icon_68ca2e838b75e5eae76f43610b532e77);
        
    
        var popup_07046db0897172c22a651d1d3040ba04 = L.popup({"maxWidth": "100%"});

        
            
                var html_4120adbdcfc7e96caa5b913c0ac312cd = $(`<div id="html_4120adbdcfc7e96caa5b913c0ac312cd" style="width: 100.0%; height: 100.0%;">Medical College Kolkata</div>`)[0];
                popup_07046db0897172c22a651d1d3040ba04.setContent(html_4120adbdcfc7e96caa5b913c0ac312cd);
            
        

        marker_ece4c9f928b4be25a2bbab218f1b3ebf.bindPopup(popup_07046db0897172c22a651d1d3040ba04)
        ;

        
    
    
            var marker_2355831bbd3a14ca4461051453071495 = L.marker(
                [22.513696691902442, 88.40296982599386],
                {}
            ).addTo(feature_group_eb8eef8ce637a3a0b2cdda3b19dbec49);
        
    
            var icon_b96ef887b1759bc7776cd22365031ac9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "hospital", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_2355831bbd3a14ca4461051453071495.setIcon(icon_b96ef887b1759bc7776cd22365031ac9);
        
    
        var popup_ec14a1a96dff07db7d2ff6d9a8ea130c = L.popup({"maxWidth": "100%"});

        
            
                var html_ad5f5301fceacb12e9156b8cf03c70f9 = $(`<div id="html_ad5f5301fceacb12e9156b8cf03c70f9" style="width: 100.0%; height: 100.0%;">Ruby General Hospital</div>`)[0];
                popup_ec14a1a96dff07db7d2ff6d9a8ea130c.setContent(html_ad5f5301fceacb12e9156b8cf03c70f9);
            
        

        marker_2355831bbd3a14ca4461051453071495.bindPopup(popup_ec14a1a96dff07db7d2ff6d9a8ea130c)
        ;

        
    
    
            var marker_724646ac3fd6eab10573e98ba108d1a2 = L.marker(
                [22.52144666184024, 88.400823989502],
                {}
            ).addTo(feature_group_eb8eef8ce637a3a0b2cdda3b19dbec49);
        
    
            var icon_1115f481816ac3e22f0f88bf6cbe4231 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "hospital", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_724646ac3fd6eab10573e98ba108d1a2.setIcon(icon_1115f481816ac3e22f0f88bf6cbe4231);
        
    
        var popup_de6a11d97fdc1da7295e8fdfd7a70bc5 = L.popup({"maxWidth": "100%"});

        
            
                var html_a1df4164b6a91baebc3b70e4afa91131 = $(`<div id="html_a1df4164b6a91baebc3b70e4afa91131" style="width: 100.0%; height: 100.0%;">Fortis Hospital, Anandapur</div>`)[0];
                popup_de6a11d97fdc1da7295e8fdfd7a70bc5.setContent(html_a1df4164b6a91baebc3b70e4afa91131);
            
        

        marker_724646ac3fd6eab10573e98ba108d1a2.bindPopup(popup_de6a11d97fdc1da7295e8fdfd7a70bc5)
        ;

        
    
    
            var marker_df429f774759b68115ea6f6c92b3bfe2 = L.marker(
                [22.49427158125617, 88.40083683948643],
                {}
            ).addTo(feature_group_eb8eef8ce637a3a0b2cdda3b19dbec49);
        
    
            var icon_0b3e659ca697f519cb08bef9b50e97d6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "hospital", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_df429f774759b68115ea6f6c92b3bfe2.setIcon(icon_0b3e659ca697f519cb08bef9b50e97d6);
        
    
        var popup_0ce1c547f70f5afdde003d3d706e3255 = L.popup({"maxWidth": "100%"});

        
            
                var html_0399be55ee0b670d8eb65dc014df5f97 = $(`<div id="html_0399be55ee0b670d8eb65dc014df5f97" style="width: 100.0%; height: 100.0%;">Medica Superspecialty Hospital</div>`)[0];
                popup_0ce1c547f70f5afdde003d3d706e3255.setContent(html_0399be55ee0b670d8eb65dc014df5f97);
            
        

        marker_df429f774759b68115ea6f6c92b3bfe2.bindPopup(popup_0ce1c547f70f5afdde003d3d706e3255)
        ;

        
    
    
            var marker_709011fa3ab3a5c545c87f4f8a443176 = L.marker(
                [22.67540736804941, 88.37580638182037],
                {}
            ).addTo(feature_group_eb8eef8ce637a3a0b2cdda3b19dbec49);
        
    
            var icon_94ba2007dd7c8b716f5d9a44f48def1f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "hospital", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_709011fa3ab3a5c545c87f4f8a443176.setIcon(icon_94ba2007dd7c8b716f5d9a44f48def1f);
        
    
        var popup_e45adb07498047f3e745b07ac4882b7f = L.popup({"maxWidth": "100%"});

        
            
                var html_d7decbf14ef87e49968fe6b34847fdd2 = $(`<div id="html_d7decbf14ef87e49968fe6b34847fdd2" style="width: 100.0%; height: 100.0%;">Sagore Dutta Hospital</div>`)[0];
                popup_e45adb07498047f3e745b07ac4882b7f.setContent(html_d7decbf14ef87e49968fe6b34847fdd2);
            
        

        marker_709011fa3ab3a5c545c87f4f8a443176.bindPopup(popup_e45adb07498047f3e745b07ac4882b7f)
        ;

        
    
    
            var marker_9368cb6d7d61eab162d56c0cd5a8fad5 = L.marker(
                [22.604566091097684, 88.37831530880445],
                {}
            ).addTo(feature_group_eb8eef8ce637a3a0b2cdda3b19dbec49);
        
    
            var icon_cecf3325074766e190d20df086f83509 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "hospital", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_9368cb6d7d61eab162d56c0cd5a8fad5.setIcon(icon_cecf3325074766e190d20df086f83509);
        
    
        var popup_5dd60f9e08d3d23cc755d167eeb8a07d = L.popup({"maxWidth": "100%"});

        
            
                var html_42eca388a5b025186e19ec54d654a64f = $(`<div id="html_42eca388a5b025186e19ec54d654a64f" style="width: 100.0%; height: 100.0%;">R G Kar Medical College and Hospital</div>`)[0];
                popup_5dd60f9e08d3d23cc755d167eeb8a07d.setContent(html_42eca388a5b025186e19ec54d654a64f);
            
        

        marker_9368cb6d7d61eab162d56c0cd5a8fad5.bindPopup(popup_5dd60f9e08d3d23cc755d167eeb8a07d)
        ;

        
    
    
            var marker_225c965e7727420c4c4cd6d19b4cf1fe = L.marker(
                [22.57547283340108, 88.40117364531055],
                {}
            ).addTo(feature_group_eb8eef8ce637a3a0b2cdda3b19dbec49);
        
    
            var icon_70a01d9ccff8679560fe5bd6d68317df = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "hospital", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_225c965e7727420c4c4cd6d19b4cf1fe.setIcon(icon_70a01d9ccff8679560fe5bd6d68317df);
        
    
        var popup_116bd6de54bc3de9767db67231d49808 = L.popup({"maxWidth": "100%"});

        
            
                var html_788d040906ff0024f5b90783c58f8f68 = $(`<div id="html_788d040906ff0024f5b90783c58f8f68" style="width: 100.0%; height: 100.0%;">APOLLO GLENEAGLES HOSPITAL</div>`)[0];
                popup_116bd6de54bc3de9767db67231d49808.setContent(html_788d040906ff0024f5b90783c58f8f68);
            
        

        marker_225c965e7727420c4c4cd6d19b4cf1fe.bindPopup(popup_116bd6de54bc3de9767db67231d49808)
        ;

        
    
    
            var marker_c4305ab704feb1ded6a88057eb0fa3b8 = L.marker(
                [22.577224981717613, 88.42451930147266],
                {}
            ).addTo(feature_group_eb8eef8ce637a3a0b2cdda3b19dbec49);
        
    
            var icon_b2b1bc21637e57029de33b893e0f9b1e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "hospital", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_c4305ab704feb1ded6a88057eb0fa3b8.setIcon(icon_b2b1bc21637e57029de33b893e0f9b1e);
        
    
        var popup_3d0a0f7015900ed39a4e327979871e7c = L.popup({"maxWidth": "100%"});

        
            
                var html_dccf58b4d48685a8bf810cdef5212ccc = $(`<div id="html_dccf58b4d48685a8bf810cdef5212ccc" style="width: 100.0%; height: 100.0%;">ECHS Polyclinic Salt Lake</div>`)[0];
                popup_3d0a0f7015900ed39a4e327979871e7c.setContent(html_dccf58b4d48685a8bf810cdef5212ccc);
            
        

        marker_c4305ab704feb1ded6a88057eb0fa3b8.bindPopup(popup_3d0a0f7015900ed39a4e327979871e7c)
        ;

        
    
    
            var marker_72765a021a08bfea17499392708f40a8 = L.marker(
                [22.587648953102033, 88.39156508299335],
                {}
            ).addTo(feature_group_eb8eef8ce637a3a0b2cdda3b19dbec49);
        
    
            var icon_02aac41a797f4bc2aa07a2e43bcac835 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "hospital", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_72765a021a08bfea17499392708f40a8.setIcon(icon_02aac41a797f4bc2aa07a2e43bcac835);
        
    
        var popup_4dee42a3f17c967b44911efe2fb84824 = L.popup({"maxWidth": "100%"});

        
            
                var html_f21332cc694c95c189fd8061fedb6911 = $(`<div id="html_f21332cc694c95c189fd8061fedb6911" style="width: 100.0%; height: 100.0%;">ESI Hospital PGIMSR</div>`)[0];
                popup_4dee42a3f17c967b44911efe2fb84824.setContent(html_f21332cc694c95c189fd8061fedb6911);
            
        

        marker_72765a021a08bfea17499392708f40a8.bindPopup(popup_4dee42a3f17c967b44911efe2fb84824)
        ;

        
    
    
            var marker_717ba712401ac070864b9940e3d5a3a3 = L.marker(
                [22.56566114321081, 88.3616607416654],
                {}
            ).addTo(feature_group_eb8eef8ce637a3a0b2cdda3b19dbec49);
        
    
            var icon_3574e6604912148aeb4ec1ee40345657 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "hospital", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_717ba712401ac070864b9940e3d5a3a3.setIcon(icon_3574e6604912148aeb4ec1ee40345657);
        
    
        var popup_4809a8c6505fe2dbd1f508df0050b029 = L.popup({"maxWidth": "100%"});

        
            
                var html_e30c2ab6aec81ebb343070bd22e853b7 = $(`<div id="html_e30c2ab6aec81ebb343070bd22e853b7" style="width: 100.0%; height: 100.0%;">GD Hospital & Diabetes Institute</div>`)[0];
                popup_4809a8c6505fe2dbd1f508df0050b029.setContent(html_e30c2ab6aec81ebb343070bd22e853b7);
            
        

        marker_717ba712401ac070864b9940e3d5a3a3.bindPopup(popup_4809a8c6505fe2dbd1f508df0050b029)
        ;

        
    
    
            var marker_5c9046ab4288253aec6e75b73f05a886 = L.marker(
                [22.566176329142653, 88.30772995651279],
                {}
            ).addTo(feature_group_eb8eef8ce637a3a0b2cdda3b19dbec49);
        
    
            var icon_18b542e83b14ead047d24cf8c11a22df = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "hospital", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_5c9046ab4288253aec6e75b73f05a886.setIcon(icon_18b542e83b14ead047d24cf8c11a22df);
        
    
        var popup_b069c296a5eb7206b410ebd9fb8fc8d9 = L.popup({"maxWidth": "100%"});

        
            
                var html_0f47be36c32659f88e42800fbadcd4b6 = $(`<div id="html_0f47be36c32659f88e42800fbadcd4b6" style="width: 100.0%; height: 100.0%;">Narayana Hospital, Howrah</div>`)[0];
                popup_b069c296a5eb7206b410ebd9fb8fc8d9.setContent(html_0f47be36c32659f88e42800fbadcd4b6);
            
        

        marker_5c9046ab4288253aec6e75b73f05a886.bindPopup(popup_b069c296a5eb7206b410ebd9fb8fc8d9)
        ;

        
    
    
            var marker_2c25754aa5afbaf2588abf0275ce592f = L.marker(
                [22.559628171320554, 88.39632949346063],
                {}
            ).addTo(feature_group_eb8eef8ce637a3a0b2cdda3b19dbec49);
        
    
            var icon_400f431b872ed1c87b0c2e1a867ec3b4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_2c25754aa5afbaf2588abf0275ce592f.setIcon(icon_400f431b872ed1c87b0c2e1a867ec3b4);
        
    
        var popup_4c4132c1044369676ce573159aa5b1fc = L.popup({"maxWidth": "100%"});

        
            
                var html_1bb380a10cac412aa87cba91594255e2 = $(`<div id="html_1bb380a10cac412aa87cba91594255e2" style="width: 100.0%; height: 100.0%;">Your Location</div>`)[0];
                popup_4c4132c1044369676ce573159aa5b1fc.setContent(html_1bb380a10cac412aa87cba91594255e2);
            
        

        marker_2c25754aa5afbaf2588abf0275ce592f.bindPopup(popup_4c4132c1044369676ce573159aa5b1fc)
        ;

        
    
</script>
</html>