<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_de240f99157b7c01f7337978a34700f9 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_de240f99157b7c01f7337978a34700f9" ></div>
        
</body>
<script>
    
    
            var map_de240f99157b7c01f7337978a34700f9 = L.map(
                "map_de240f99157b7c01f7337978a34700f9",
                {
                    center: [22.559628171320554, 88.39632949346063],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_7515c12902e4ca9ffdab478512b6f4c2 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_de240f99157b7c01f7337978a34700f9);
        
    
            var feature_group_6d12977c30a989cf4862519cf94fab2d = L.featureGroup(
                {}
            ).addTo(map_de240f99157b7c01f7337978a34700f9);
        
    
            var marker_9baec29bebcc9c056ca57f914d57d7bf = L.marker(
                [22.560625171105162, 88.4091965688475],
                {}
            ).addTo(feature_group_6d12977c30a989cf4862519cf94fab2d);
        
    
            var icon_7b01998faae06246cc39b9f06b73a87c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "hospital", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_9baec29bebcc9c056ca57f914d57d7bf.setIcon(icon_7b01998faae06246cc39b9f06b73a87c);
        
    
        var popup_d6333d34ccfcbfe29615c1ab047aa010 = L.popup({"maxWidth": "100%"});

        
            
                var html_b51309990597bc965447df55f352990c = $(`<div id="html_b51309990597bc965447df55f352990c" style="width: 100.0%; height: 100.0%;">Techno India DAMA </div>`)[0];
                popup_d6333d34ccfcbfe29615c1ab047aa010.setContent(html_b51309990597bc965447df55f352990c);
            
        

        marker_9baec29bebcc9c056ca57f914d57d7bf.bindPopup(popup_d6333d34ccfcbfe29615c1ab047aa010)
        ;

        
    
    
            var marker_6ab0c26cb3a94f3e100148ee7966946f = L.marker(
                [22.563458354978074, 88.39852763763894],
                {}
            ).addTo(feature_group_6d12977c30a989cf4862519cf94fab2d);
        
    
            var icon_5ca2248da1cff34991bcceb27bdc18c4 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "hospital", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_6ab0c26cb3a94f3e100148ee7966946f.setIcon(icon_5ca2248da1cff34991bcceb27bdc18c4);
        
    
        var popup_835ef5e3862b83b0775a7d84d95d6ea6 = L.popup({"maxWidth": "100%"});

        
            
                var html_30cd25e5657b997b6ce5f3b7a5e42237 = $(`<div id="html_30cd25e5657b997b6ce5f3b7a5e42237" style="width: 100.0%; height: 100.0%;">Infectious Diseases & Beleghata General Hospital</div>`)[0];
                popup_835ef5e3862b83b0775a7d84d95d6ea6.setContent(html_30cd25e5657b997b6ce5f3b7a5e42237);
            
        

        marker_6ab0c26cb3a94f3e100148ee7966946f.bindPopup(popup_835ef5e3862b83b0775a7d84d95d6ea6)
        ;

        
    
    
            var marker_8f41eb46c4bdd94e3c8109e8312be763 = L.marker(
                [22.563952802198664, 88.37023181489849],
                {}
            ).addTo(feature_group_6d12977c30a989cf4862519cf94fab2d);
        
    
            var icon_0a12652e1f9b302f18e272b454360918 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "hospital", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_8f41eb46c4bdd94e3c8109e8312be763.setIcon(icon_0a12652e1f9b302f18e272b454360918);
        
    
        var popup_fe4356854bac4cf28b4de6fffdbf3b27 = L.popup({"maxWidth": "100%"});

        
            
                var html_5c57c3967c0695fbbb079fbc5ecec987 = $(`<div id="html_5c57c3967c0695fbbb079fbc5ecec987" style="width: 100.0%; height: 100.0%;">NRS MEDICAL COLLEGE AND HOSPITAL</div>`)[0];
                popup_fe4356854bac4cf28b4de6fffdbf3b27.setContent(html_5c57c3967c0695fbbb079fbc5ecec987);
            
        

        marker_8f41eb46c4bdd94e3c8109e8312be763.bindPopup(popup_fe4356854bac4cf28b4de6fffdbf3b27)
        ;

        
    
    
            var marker_bf98ceec1fd83fa5d09a20ecbf1ce33d = L.marker(
                [22.539864812065968, 88.3421653088026],
                {}
            ).addTo(feature_group_6d12977c30a989cf4862519cf94fab2d);
        
    
            var icon_6c32868a45e9154fe2f8d463bb0daa25 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "hospital", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_bf98ceec1fd83fa5d09a20ecbf1ce33d.setIcon(icon_6c32868a45e9154fe2f8d463bb0daa25);
        
    
        var popup_2eb16eac3088a627c126ee749c15eb75 = L.popup({"maxWidth": "100%"});

        
            
                var html_0c65346b9637b567c30e33e04544ace0 = $(`<div id="html_0c65346b9637b567c30e33e04544ace0" style="width: 100.0%; height: 100.0%;">IPGME&R and SSKM Hospital</div>`)[0];
                popup_2eb16eac3088a627c126ee749c15eb75.setContent(html_0c65346b9637b567c30e33e04544ace0);
            
        

        marker_bf98ceec1fd83fa5d09a20ecbf1ce33d.bindPopup(popup_2eb16eac3088a627c126ee749c15eb75)
        ;

        
    
    
            var marker_cf6d185c2372488c3b462c6e63ce4f32 = L.marker(
                [22.54633806506586, 88.37122797996714],
                {}
            ).addTo(feature_group_6d12977c30a989cf4862519cf94fab2d);
        
    
            var icon_3d1614de83716a621e73f8a8a43fbc31 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "hospital", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_cf6d185c2372488c3b462c6e63ce4f32.setIcon(icon_3d1614de83716a621e73f8a8a43fbc31);
        
    
        var popup_4215a814a031b767c4fd3c7273b8adc9 = L.popup({"maxWidth": "100%"});

        
            
                var html_a7a3f9970a9abea4e5be56c97bd54d0d = $(`<div id="html_a7a3f9970a9abea4e5be56c97bd54d0d" style="width: 100.0%; height: 100.0%;">Calcutta National Medical College & Hospital</div>`)[0];
                popup_4215a814a031b767c4fd3c7273b8adc9.setContent(html_a7a3f9970a9abea4e5be56c97bd54d0d);
            
        

        marker_cf6d185c2372488c3b462c6e63ce4f32.bindPopup(popup_4215a814a031b767c4fd3c7273b8adc9)
        ;

        
    
    
            var marker_cfe3726e2e312fe8fc9ccadd8e78a950 = L.marker(
                [22.573224196845302, 88.36162132229664],
                {}
            ).addTo(feature_group_6d12977c30a989cf4862519cf94fab2d);
        
    
            var icon_705e3d79d9fc45deceb09cd8d964e51e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "hospital", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_cfe3726e2e312fe8fc9ccadd8e78a950.setIcon(icon_705e3d79d9fc45deceb09cd8d964e51e);
        
    
        var popup_efe7aa31ac73625b76236d5d30731efc = L.popup({"maxWidth": "100%"});

        
            
                var html_518f22477dc02914671c71f3a862eccc = $(`<div id="html_518f22477dc02914671c71f3a862eccc" style="width: 100.0%; height: 100.0%;">Medical College Kolkata</div>`)[0];
                popup_efe7aa31ac73625b76236d5d30731efc.setContent(html_518f22477dc02914671c71f3a862eccc);
            
        

        marker_cfe3726e2e312fe8fc9ccadd8e78a950.bindPopup(popup_efe7aa31ac73625b76236d5d30731efc)
        ;

        
    
    
            var marker_023a34dd623b9cf6f84a7c6eee489274 = L.marker(
                [22.513696691902442, 88.40296982599386],
                {}
            ).addTo(feature_group_6d12977c30a989cf4862519cf94fab2d);
        
    
            var icon_0f12fc2601bfd676a534d509ed78c668 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "hospital", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_023a34dd623b9cf6f84a7c6eee489274.setIcon(icon_0f12fc2601bfd676a534d509ed78c668);
        
    
        var popup_2f26644586e569846051273e36fe7a71 = L.popup({"maxWidth": "100%"});

        
            
                var html_4e15c5f05eb2c615f9a0d49827f96214 = $(`<div id="html_4e15c5f05eb2c615f9a0d49827f96214" style="width: 100.0%; height: 100.0%;">Ruby General Hospital</div>`)[0];
                popup_2f26644586e569846051273e36fe7a71.setContent(html_4e15c5f05eb2c615f9a0d49827f96214);
            
        

        marker_023a34dd623b9cf6f84a7c6eee489274.bindPopup(popup_2f26644586e569846051273e36fe7a71)
        ;

        
    
    
            var marker_bbe09f2c1e895ae5efdb0aee5ccb8055 = L.marker(
                [22.52144666184024, 88.400823989502],
                {}
            ).addTo(feature_group_6d12977c30a989cf4862519cf94fab2d);
        
    
            var icon_0e8d13786d631b3dbddb769ffd56f865 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "hospital", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_bbe09f2c1e895ae5efdb0aee5ccb8055.setIcon(icon_0e8d13786d631b3dbddb769ffd56f865);
        
    
        var popup_38ca366c570813b01954a835c2611fee = L.popup({"maxWidth": "100%"});

        
            
                var html_e5ac1975dc6e1b3f51e4419da382383e = $(`<div id="html_e5ac1975dc6e1b3f51e4419da382383e" style="width: 100.0%; height: 100.0%;">Fortis Hospital, Anandapur</div>`)[0];
                popup_38ca366c570813b01954a835c2611fee.setContent(html_e5ac1975dc6e1b3f51e4419da382383e);
            
        

        marker_bbe09f2c1e895ae5efdb0aee5ccb8055.bindPopup(popup_38ca366c570813b01954a835c2611fee)
        ;

        
    
    
            var marker_5e18b6fe611154399a44b79080b054d6 = L.marker(
                [22.49427158125617, 88.40083683948643],
                {}
            ).addTo(feature_group_6d12977c30a989cf4862519cf94fab2d);
        
    
            var icon_9d96cf77ae96af964c1aae50f483af3a = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "hospital", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_5e18b6fe611154399a44b79080b054d6.setIcon(icon_9d96cf77ae96af964c1aae50f483af3a);
        
    
        var popup_5c475d77418565d8587dd1f829d92f37 = L.popup({"maxWidth": "100%"});

        
            
                var html_9bca3c9db4305e1d537b73aa91fb43d3 = $(`<div id="html_9bca3c9db4305e1d537b73aa91fb43d3" style="width: 100.0%; height: 100.0%;">Medica Superspecialty Hospital</div>`)[0];
                popup_5c475d77418565d8587dd1f829d92f37.setContent(html_9bca3c9db4305e1d537b73aa91fb43d3);
            
        

        marker_5e18b6fe611154399a44b79080b054d6.bindPopup(popup_5c475d77418565d8587dd1f829d92f37)
        ;

        
    
    
            var marker_9f94aebf33c863b9873ca55c1fa6f061 = L.marker(
                [22.67540736804941, 88.37580638182037],
                {}
            ).addTo(feature_group_6d12977c30a989cf4862519cf94fab2d);
        
    
            var icon_ce7c03a938d4f1d71f592644c1b24943 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "hospital", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_9f94aebf33c863b9873ca55c1fa6f061.setIcon(icon_ce7c03a938d4f1d71f592644c1b24943);
        
    
        var popup_ae2594710580859820ef3ddf6a97086e = L.popup({"maxWidth": "100%"});

        
            
                var html_cf03f566035f25b26025eb51112d347d = $(`<div id="html_cf03f566035f25b26025eb51112d347d" style="width: 100.0%; height: 100.0%;">Sagore Dutta Hospital</div>`)[0];
                popup_ae2594710580859820ef3ddf6a97086e.setContent(html_cf03f566035f25b26025eb51112d347d);
            
        

        marker_9f94aebf33c863b9873ca55c1fa6f061.bindPopup(popup_ae2594710580859820ef3ddf6a97086e)
        ;

        
    
    
            var marker_795cea84f77a9e0121add5eaa957dfba = L.marker(
                [22.604566091097684, 88.37831530880445],
                {}
            ).addTo(feature_group_6d12977c30a989cf4862519cf94fab2d);
        
    
            var icon_63fcb5233471f94e2ebbe71e6787146c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "hospital", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_795cea84f77a9e0121add5eaa957dfba.setIcon(icon_63fcb5233471f94e2ebbe71e6787146c);
        
    
        var popup_fd3d1e9597092e4431c264553b10a26e = L.popup({"maxWidth": "100%"});

        
            
                var html_92eb4898d74be74dc3f7495417cbef53 = $(`<div id="html_92eb4898d74be74dc3f7495417cbef53" style="width: 100.0%; height: 100.0%;">R G Kar Medical College and Hospital</div>`)[0];
                popup_fd3d1e9597092e4431c264553b10a26e.setContent(html_92eb4898d74be74dc3f7495417cbef53);
            
        

        marker_795cea84f77a9e0121add5eaa957dfba.bindPopup(popup_fd3d1e9597092e4431c264553b10a26e)
        ;

        
    
    
            var marker_4cb49fdf6d3eb7d2ac3f7b9de9a6ca3d = L.marker(
                [22.57547283340108, 88.40117364531055],
                {}
            ).addTo(feature_group_6d12977c30a989cf4862519cf94fab2d);
        
    
            var icon_ac3a84d747e392dc04485e7b1a1d1e02 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "hospital", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_4cb49fdf6d3eb7d2ac3f7b9de9a6ca3d.setIcon(icon_ac3a84d747e392dc04485e7b1a1d1e02);
        
    
        var popup_90bb436381e570fd32004138cae0256c = L.popup({"maxWidth": "100%"});

        
            
                var html_aa9b450875ba8d1bfa3edb0c87d14730 = $(`<div id="html_aa9b450875ba8d1bfa3edb0c87d14730" style="width: 100.0%; height: 100.0%;">APOLLO GLENEAGLES HOSPITAL</div>`)[0];
                popup_90bb436381e570fd32004138cae0256c.setContent(html_aa9b450875ba8d1bfa3edb0c87d14730);
            
        

        marker_4cb49fdf6d3eb7d2ac3f7b9de9a6ca3d.bindPopup(popup_90bb436381e570fd32004138cae0256c)
        ;

        
    
    
            var marker_a5a7aade357d611f8221d2725ee8f59b = L.marker(
                [22.577224981717613, 88.42451930147266],
                {}
            ).addTo(feature_group_6d12977c30a989cf4862519cf94fab2d);
        
    
            var icon_3c801ed0c30022130f87872dc1edb092 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "hospital", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_a5a7aade357d611f8221d2725ee8f59b.setIcon(icon_3c801ed0c30022130f87872dc1edb092);
        
    
        var popup_ce6b30053431f6dee9353e057943bc5c = L.popup({"maxWidth": "100%"});

        
            
                var html_4b9955494d90381f18b9ab94cfac742a = $(`<div id="html_4b9955494d90381f18b9ab94cfac742a" style="width: 100.0%; height: 100.0%;">ECHS Polyclinic Salt Lake</div>`)[0];
                popup_ce6b30053431f6dee9353e057943bc5c.setContent(html_4b9955494d90381f18b9ab94cfac742a);
            
        

        marker_a5a7aade357d611f8221d2725ee8f59b.bindPopup(popup_ce6b30053431f6dee9353e057943bc5c)
        ;

        
    
    
            var marker_4839790a0a1b3a48e1c86f92680d125a = L.marker(
                [22.587648953102033, 88.39156508299335],
                {}
            ).addTo(feature_group_6d12977c30a989cf4862519cf94fab2d);
        
    
            var icon_7d5cb6c2b3446825d93e0b8c018ad0ec = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "hospital", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_4839790a0a1b3a48e1c86f92680d125a.setIcon(icon_7d5cb6c2b3446825d93e0b8c018ad0ec);
        
    
        var popup_55ad153e7a8ddd8d1ebca89a1c436acc = L.popup({"maxWidth": "100%"});

        
            
                var html_1133a800d8d06e7881685dd69b7c9fc9 = $(`<div id="html_1133a800d8d06e7881685dd69b7c9fc9" style="width: 100.0%; height: 100.0%;">ESI Hospital PGIMSR</div>`)[0];
                popup_55ad153e7a8ddd8d1ebca89a1c436acc.setContent(html_1133a800d8d06e7881685dd69b7c9fc9);
            
        

        marker_4839790a0a1b3a48e1c86f92680d125a.bindPopup(popup_55ad153e7a8ddd8d1ebca89a1c436acc)
        ;

        
    
    
            var marker_49c4a5362ab38e21774f886a9a70ea24 = L.marker(
                [22.56566114321081, 88.3616607416654],
                {}
            ).addTo(feature_group_6d12977c30a989cf4862519cf94fab2d);
        
    
            var icon_0db98e973ff1610b2e56b6aad3bd3e6f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "hospital", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_49c4a5362ab38e21774f886a9a70ea24.setIcon(icon_0db98e973ff1610b2e56b6aad3bd3e6f);
        
    
        var popup_67019b562c462258f5456cb31df560e9 = L.popup({"maxWidth": "100%"});

        
            
                var html_29713a2572a5d3f2c3d24c4dd43913a5 = $(`<div id="html_29713a2572a5d3f2c3d24c4dd43913a5" style="width: 100.0%; height: 100.0%;">GD Hospital & Diabetes Institute</div>`)[0];
                popup_67019b562c462258f5456cb31df560e9.setContent(html_29713a2572a5d3f2c3d24c4dd43913a5);
            
        

        marker_49c4a5362ab38e21774f886a9a70ea24.bindPopup(popup_67019b562c462258f5456cb31df560e9)
        ;

        
    
    
            var marker_b486e6940b5742033491d2eea9039215 = L.marker(
                [22.566176329142653, 88.30772995651279],
                {}
            ).addTo(feature_group_6d12977c30a989cf4862519cf94fab2d);
        
    
            var icon_1149d0e3348ccbf225f5e2197094ceb1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "hospital", "iconColor": "white", "markerColor": "red", "prefix": "fa"}
            );
            marker_b486e6940b5742033491d2eea9039215.setIcon(icon_1149d0e3348ccbf225f5e2197094ceb1);
        
    
        var popup_daf4f83e6d79145494cfbbf3265b4a05 = L.popup({"maxWidth": "100%"});

        
            
                var html_8d06c309a9072caf3f97a8d6d287947d = $(`<div id="html_8d06c309a9072caf3f97a8d6d287947d" style="width: 100.0%; height: 100.0%;">Narayana Hospital, Howrah</div>`)[0];
                popup_daf4f83e6d79145494cfbbf3265b4a05.setContent(html_8d06c309a9072caf3f97a8d6d287947d);
            
        

        marker_b486e6940b5742033491d2eea9039215.bindPopup(popup_daf4f83e6d79145494cfbbf3265b4a05)
        ;

        
    
    
            var marker_2edc403791cdee124f01b7dfef7035df = L.marker(
                [22.559628171320554, 88.39632949346063],
                {}
            ).addTo(feature_group_6d12977c30a989cf4862519cf94fab2d);
        
    
            var icon_f9693faa51176aa6086b203db2cfe229 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_2edc403791cdee124f01b7dfef7035df.setIcon(icon_f9693faa51176aa6086b203db2cfe229);
        
    
        var popup_163a61c531cef80b056872c08c9b3734 = L.popup({"maxWidth": "100%"});

        
            
                var html_168d8c26baad903f5849a7423ed90ba8 = $(`<div id="html_168d8c26baad903f5849a7423ed90ba8" style="width: 100.0%; height: 100.0%;">Your Location</div>`)[0];
                popup_163a61c531cef80b056872c08c9b3734.setContent(html_168d8c26baad903f5849a7423ed90ba8);
            
        

        marker_2edc403791cdee124f01b7dfef7035df.bindPopup(popup_163a61c531cef80b056872c08c9b3734)
        ;

        
    
</script>
</html>