<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_3848887ce22c27c62bebc94301d606b0 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_3848887ce22c27c62bebc94301d606b0" ></div>
        
</body>
<script>
    
    
            var map_3848887ce22c27c62bebc94301d606b0 = L.map(
                "map_3848887ce22c27c62bebc94301d606b0",
                {
                    center: [22.559628171320554, 88.39632949346063],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_e8125efd2ce6995b96e95df944cc5d3c = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_3848887ce22c27c62bebc94301d606b0);
        
    
            var feature_group_bf9be3b552c0123473803f2209c93edd = L.featureGroup(
                {}
            ).addTo(map_3848887ce22c27c62bebc94301d606b0);
        
    
            var marker_7ec2773db28f109d3ff4893f30d5a594 = L.marker(
                [22.557443, 88.412302],
                {}
            ).addTo(feature_group_bf9be3b552c0123473803f2209c93edd);
        
    
            var icon_ebcf557c67eed4eb55c0265b2d32db1c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ambulance", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_7ec2773db28f109d3ff4893f30d5a594.setIcon(icon_ebcf557c67eed4eb55c0265b2d32db1c);
        
    
        var popup_dc7e8c1b2d2e5f403255f8f70e12bc30 = L.popup({"maxWidth": "100%"});

        
            
                var html_f23f638eb59358ca0ca32a675dae19d6 = $(`<div id="html_f23f638eb59358ca0ca32a675dae19d6" style="width: 100.0%; height: 100.0%;">WB12A0001</div>`)[0];
                popup_dc7e8c1b2d2e5f403255f8f70e12bc30.setContent(html_f23f638eb59358ca0ca32a675dae19d6);
            
        

        marker_7ec2773db28f109d3ff4893f30d5a594.bindPopup(popup_dc7e8c1b2d2e5f403255f8f70e12bc30)
        ;

        
    
    
            var marker_594bb2fdc2782728eefc39cdfe366972 = L.marker(
                [22.562373, 88.399139],
                {}
            ).addTo(feature_group_bf9be3b552c0123473803f2209c93edd);
        
    
            var icon_3ff18d26b01edfc22fc898391787d019 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ambulance", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_594bb2fdc2782728eefc39cdfe366972.setIcon(icon_3ff18d26b01edfc22fc898391787d019);
        
    
        var popup_66cac7eb00d6c00ba5f652d9a293cad2 = L.popup({"maxWidth": "100%"});

        
            
                var html_64ba74d804d8344eea7a6e4d720fcf06 = $(`<div id="html_64ba74d804d8344eea7a6e4d720fcf06" style="width: 100.0%; height: 100.0%;">WB12B0000(Premium)</div>`)[0];
                popup_66cac7eb00d6c00ba5f652d9a293cad2.setContent(html_64ba74d804d8344eea7a6e4d720fcf06);
            
        

        marker_594bb2fdc2782728eefc39cdfe366972.bindPopup(popup_66cac7eb00d6c00ba5f652d9a293cad2)
        ;

        
    
    
            var marker_431615a5662869f54e2a6a221c173e3e = L.marker(
                [22.563419, 88.373671],
                {}
            ).addTo(feature_group_bf9be3b552c0123473803f2209c93edd);
        
    
            var icon_19d722dfe4f3285163e5d141a1ae0bbc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ambulance", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_431615a5662869f54e2a6a221c173e3e.setIcon(icon_19d722dfe4f3285163e5d141a1ae0bbc);
        
    
        var popup_59e832b5d144152d4c748fe1593b3215 = L.popup({"maxWidth": "100%"});

        
            
                var html_3288b164de926518194b529bc70380f7 = $(`<div id="html_3288b164de926518194b529bc70380f7" style="width: 100.0%; height: 100.0%;">WB12B0002</div>`)[0];
                popup_59e832b5d144152d4c748fe1593b3215.setContent(html_3288b164de926518194b529bc70380f7);
            
        

        marker_431615a5662869f54e2a6a221c173e3e.bindPopup(popup_59e832b5d144152d4c748fe1593b3215)
        ;

        
    
    
            var marker_d3ce0766d698ea702bc872a9a33784fe = L.marker(
                [22.573611, 88.365068],
                {}
            ).addTo(feature_group_bf9be3b552c0123473803f2209c93edd);
        
    
            var icon_79894c1bd1603fe8748be6151562161e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ambulance", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_d3ce0766d698ea702bc872a9a33784fe.setIcon(icon_79894c1bd1603fe8748be6151562161e);
        
    
        var popup_7403f72cdfba724b34a4aadf5208a822 = L.popup({"maxWidth": "100%"});

        
            
                var html_ce3b7acd7b64e00c1b860cbb14f4c4dd = $(`<div id="html_ce3b7acd7b64e00c1b860cbb14f4c4dd" style="width: 100.0%; height: 100.0%;">WB31C0001(Premium)</div>`)[0];
                popup_7403f72cdfba724b34a4aadf5208a822.setContent(html_ce3b7acd7b64e00c1b860cbb14f4c4dd);
            
        

        marker_d3ce0766d698ea702bc872a9a33784fe.bindPopup(popup_7403f72cdfba724b34a4aadf5208a822)
        ;

        
    
    
            var marker_966af108e8a80928578f30669bac46c5 = L.marker(
                [22.579585, 88.361073],
                {}
            ).addTo(feature_group_bf9be3b552c0123473803f2209c93edd);
        
    
            var icon_854e9ee78e1bccbf595901e2c34eb7b6 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ambulance", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_966af108e8a80928578f30669bac46c5.setIcon(icon_854e9ee78e1bccbf595901e2c34eb7b6);
        
    
        var popup_51b983a0288860dc5d199c4567b55ff6 = L.popup({"maxWidth": "100%"});

        
            
                var html_650e42234be1d1a66d4b22e115b0fbf4 = $(`<div id="html_650e42234be1d1a66d4b22e115b0fbf4" style="width: 100.0%; height: 100.0%;">WB12A0003</div>`)[0];
                popup_51b983a0288860dc5d199c4567b55ff6.setContent(html_650e42234be1d1a66d4b22e115b0fbf4);
            
        

        marker_966af108e8a80928578f30669bac46c5.bindPopup(popup_51b983a0288860dc5d199c4567b55ff6)
        ;

        
    
    
            var marker_d9aba9e96e583c69626a5f2be3d2a82e = L.marker(
                [22.542654, 88.398308],
                {}
            ).addTo(feature_group_bf9be3b552c0123473803f2209c93edd);
        
    
            var icon_2604a47572d61cf8e9b484e0b8e418bf = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ambulance", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_d9aba9e96e583c69626a5f2be3d2a82e.setIcon(icon_2604a47572d61cf8e9b484e0b8e418bf);
        
    
        var popup_8aaf28194f38bacde57733b251ec46c4 = L.popup({"maxWidth": "100%"});

        
            
                var html_4ea9989855fbc7a64d2c066342bcf752 = $(`<div id="html_4ea9989855fbc7a64d2c066342bcf752" style="width: 100.0%; height: 100.0%;">WB12A0004</div>`)[0];
                popup_8aaf28194f38bacde57733b251ec46c4.setContent(html_4ea9989855fbc7a64d2c066342bcf752);
            
        

        marker_d9aba9e96e583c69626a5f2be3d2a82e.bindPopup(popup_8aaf28194f38bacde57733b251ec46c4)
        ;

        
    
    
            var marker_588bfbd19f89d17c2eaeed431ae08c98 = L.marker(
                [22.513388, 88.401932],
                {}
            ).addTo(feature_group_bf9be3b552c0123473803f2209c93edd);
        
    
            var icon_cdf4016f5095eb95beccd27ee766fc74 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ambulance", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_588bfbd19f89d17c2eaeed431ae08c98.setIcon(icon_cdf4016f5095eb95beccd27ee766fc74);
        
    
        var popup_e656bc510a30530f2ae54f27de15be94 = L.popup({"maxWidth": "100%"});

        
            
                var html_70c97388389b9612552d9d8f0666e87a = $(`<div id="html_70c97388389b9612552d9d8f0666e87a" style="width: 100.0%; height: 100.0%;">WB31C0002(Premium)</div>`)[0];
                popup_e656bc510a30530f2ae54f27de15be94.setContent(html_70c97388389b9612552d9d8f0666e87a);
            
        

        marker_588bfbd19f89d17c2eaeed431ae08c98.bindPopup(popup_e656bc510a30530f2ae54f27de15be94)
        ;

        
    
    
            var marker_fc440cbe9e73bd2bf713e57ba3abebdb = L.marker(
                [22.495121, 88.398425],
                {}
            ).addTo(feature_group_bf9be3b552c0123473803f2209c93edd);
        
    
            var icon_051e475f38da2bfcc01dd3d7971ba309 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ambulance", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_fc440cbe9e73bd2bf713e57ba3abebdb.setIcon(icon_051e475f38da2bfcc01dd3d7971ba309);
        
    
        var popup_3c3552e7de666566537ecbbdca531700 = L.popup({"maxWidth": "100%"});

        
            
                var html_9e06f8c53947afa8b704cfedcc17bfdc = $(`<div id="html_9e06f8c53947afa8b704cfedcc17bfdc" style="width: 100.0%; height: 100.0%;">WB12A0005</div>`)[0];
                popup_3c3552e7de666566537ecbbdca531700.setContent(html_9e06f8c53947afa8b704cfedcc17bfdc);
            
        

        marker_fc440cbe9e73bd2bf713e57ba3abebdb.bindPopup(popup_3c3552e7de666566537ecbbdca531700)
        ;

        
    
    
            var marker_aacef301506bfb6b8277808e9de5623e = L.marker(
                [22.521017, 88.371429],
                {}
            ).addTo(feature_group_bf9be3b552c0123473803f2209c93edd);
        
    
            var icon_8bc9b951c9e9dfb8c5230fe645b13a4b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ambulance", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_aacef301506bfb6b8277808e9de5623e.setIcon(icon_8bc9b951c9e9dfb8c5230fe645b13a4b);
        
    
        var popup_0e133ce7bb93b1d93ab8813a29661287 = L.popup({"maxWidth": "100%"});

        
            
                var html_3edbd5f44ac263623d31a41691ef778b = $(`<div id="html_3edbd5f44ac263623d31a41691ef778b" style="width: 100.0%; height: 100.0%;">WB31C0003(Premium)</div>`)[0];
                popup_0e133ce7bb93b1d93ab8813a29661287.setContent(html_3edbd5f44ac263623d31a41691ef778b);
            
        

        marker_aacef301506bfb6b8277808e9de5623e.bindPopup(popup_0e133ce7bb93b1d93ab8813a29661287)
        ;

        
    
    
            var marker_7edd92de3f1a26db032c5a872941bc9c = L.marker(
                [22.518774, 88.346186],
                {}
            ).addTo(feature_group_bf9be3b552c0123473803f2209c93edd);
        
    
            var icon_21595e3637652a23748af5c2513d26fd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ambulance", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_7edd92de3f1a26db032c5a872941bc9c.setIcon(icon_21595e3637652a23748af5c2513d26fd);
        
    
        var popup_136b854770bf2154969bbe4a0a5336c4 = L.popup({"maxWidth": "100%"});

        
            
                var html_898138c579e480f46ad71b51fb37ac25 = $(`<div id="html_898138c579e480f46ad71b51fb37ac25" style="width: 100.0%; height: 100.0%;">WB12A0006</div>`)[0];
                popup_136b854770bf2154969bbe4a0a5336c4.setContent(html_898138c579e480f46ad71b51fb37ac25);
            
        

        marker_7edd92de3f1a26db032c5a872941bc9c.bindPopup(popup_136b854770bf2154969bbe4a0a5336c4)
        ;

        
    
    
            var marker_ea4a14b70466c9ee8645daa15c19cf46 = L.marker(
                [22.541981, 88.347167],
                {}
            ).addTo(feature_group_bf9be3b552c0123473803f2209c93edd);
        
    
            var icon_b24fcfda0f2abbb77bb1aa8540f422a3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ambulance", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_ea4a14b70466c9ee8645daa15c19cf46.setIcon(icon_b24fcfda0f2abbb77bb1aa8540f422a3);
        
    
        var popup_8b12baa0b6412d2814bfff8a7788aae9 = L.popup({"maxWidth": "100%"});

        
            
                var html_ccbe7c3cc08e9c6b4761cfc248d8fb9e = $(`<div id="html_ccbe7c3cc08e9c6b4761cfc248d8fb9e" style="width: 100.0%; height: 100.0%;">WB31C0005(Premium)</div>`)[0];
                popup_8b12baa0b6412d2814bfff8a7788aae9.setContent(html_ccbe7c3cc08e9c6b4761cfc248d8fb9e);
            
        

        marker_ea4a14b70466c9ee8645daa15c19cf46.bindPopup(popup_8b12baa0b6412d2814bfff8a7788aae9)
        ;

        
    
    
            var marker_54408886767da547bee6b0565b79253a = L.marker(
                [22.545623, 88.347593],
                {}
            ).addTo(feature_group_bf9be3b552c0123473803f2209c93edd);
        
    
            var icon_e7d47285da494c0010ba2ade7bcf22fd = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ambulance", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_54408886767da547bee6b0565b79253a.setIcon(icon_e7d47285da494c0010ba2ade7bcf22fd);
        
    
        var popup_b69e7f4510ad7e2098640eecab2702a6 = L.popup({"maxWidth": "100%"});

        
            
                var html_5b1fa618ed067ef47c1b832a7878bb24 = $(`<div id="html_5b1fa618ed067ef47c1b832a7878bb24" style="width: 100.0%; height: 100.0%;">WB12A0007</div>`)[0];
                popup_b69e7f4510ad7e2098640eecab2702a6.setContent(html_5b1fa618ed067ef47c1b832a7878bb24);
            
        

        marker_54408886767da547bee6b0565b79253a.bindPopup(popup_b69e7f4510ad7e2098640eecab2702a6)
        ;

        
    
    
            var marker_3ae3f673f070b21a684d8aa2ce32bc7c = L.marker(
                [22.541624, 88.345182],
                {}
            ).addTo(feature_group_bf9be3b552c0123473803f2209c93edd);
        
    
            var icon_9fe154edd5960d513671ba7dffc66daa = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ambulance", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_3ae3f673f070b21a684d8aa2ce32bc7c.setIcon(icon_9fe154edd5960d513671ba7dffc66daa);
        
    
        var popup_1cdaa20dad5274f225a0f2b8cfb7e39c = L.popup({"maxWidth": "100%"});

        
            
                var html_f4bfef41c528c5eeb7c088817c61020d = $(`<div id="html_f4bfef41c528c5eeb7c088817c61020d" style="width: 100.0%; height: 100.0%;">WB12A0008</div>`)[0];
                popup_1cdaa20dad5274f225a0f2b8cfb7e39c.setContent(html_f4bfef41c528c5eeb7c088817c61020d);
            
        

        marker_3ae3f673f070b21a684d8aa2ce32bc7c.bindPopup(popup_1cdaa20dad5274f225a0f2b8cfb7e39c)
        ;

        
    
    
            var marker_a706357d66a7989752503610cf1ad447 = L.marker(
                [22.543717, 88.000122],
                {}
            ).addTo(feature_group_bf9be3b552c0123473803f2209c93edd);
        
    
            var icon_6efcd90d1ee1d6628f1edc3f47fea675 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ambulance", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_a706357d66a7989752503610cf1ad447.setIcon(icon_6efcd90d1ee1d6628f1edc3f47fea675);
        
    
        var popup_0aac2f46e14f439c3a5703f2504f304e = L.popup({"maxWidth": "100%"});

        
            
                var html_eadfa6579b61263d02cb7404982121a3 = $(`<div id="html_eadfa6579b61263d02cb7404982121a3" style="width: 100.0%; height: 100.0%;">WB31C0006(Premium)</div>`)[0];
                popup_0aac2f46e14f439c3a5703f2504f304e.setContent(html_eadfa6579b61263d02cb7404982121a3);
            
        

        marker_a706357d66a7989752503610cf1ad447.bindPopup(popup_0aac2f46e14f439c3a5703f2504f304e)
        ;

        
    
    
            var marker_d7365d1be511f10f642ca1af4c0e26f0 = L.marker(
                [22.559492, 88.350486],
                {}
            ).addTo(feature_group_bf9be3b552c0123473803f2209c93edd);
        
    
            var icon_858f056ec09ba4eedf5774703f21e9ef = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ambulance", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_d7365d1be511f10f642ca1af4c0e26f0.setIcon(icon_858f056ec09ba4eedf5774703f21e9ef);
        
    
        var popup_2ff0fa83787b315bfbfb417f43bdec5b = L.popup({"maxWidth": "100%"});

        
            
                var html_8bec863c747316df07931c4ae1d1ff0b = $(`<div id="html_8bec863c747316df07931c4ae1d1ff0b" style="width: 100.0%; height: 100.0%;">WB12A0009</div>`)[0];
                popup_2ff0fa83787b315bfbfb417f43bdec5b.setContent(html_8bec863c747316df07931c4ae1d1ff0b);
            
        

        marker_d7365d1be511f10f642ca1af4c0e26f0.bindPopup(popup_2ff0fa83787b315bfbfb417f43bdec5b)
        ;

        
    
    
            var marker_a1d5a681f6aabae57879d8737fb517a8 = L.marker(
                [22.603314, 88.41352],
                {}
            ).addTo(feature_group_bf9be3b552c0123473803f2209c93edd);
        
    
            var icon_5bca227cdb21969f8959acbb4a2d2fa5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ambulance", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_a1d5a681f6aabae57879d8737fb517a8.setIcon(icon_5bca227cdb21969f8959acbb4a2d2fa5);
        
    
        var popup_65ea4734bc26da31da6a6cfe1c9d8874 = L.popup({"maxWidth": "100%"});

        
            
                var html_a32b5a3a5d4465844d5f6e557fc0ff61 = $(`<div id="html_a32b5a3a5d4465844d5f6e557fc0ff61" style="width: 100.0%; height: 100.0%;">WB31C0017(Premium)</div>`)[0];
                popup_65ea4734bc26da31da6a6cfe1c9d8874.setContent(html_a32b5a3a5d4465844d5f6e557fc0ff61);
            
        

        marker_a1d5a681f6aabae57879d8737fb517a8.bindPopup(popup_65ea4734bc26da31da6a6cfe1c9d8874)
        ;

        
    
    
            var marker_3acf7644272fb6b8b5d3b74cadfc9641 = L.marker(
                [22.640845, 88.43007],
                {}
            ).addTo(feature_group_bf9be3b552c0123473803f2209c93edd);
        
    
            var icon_3feae34297715f3ae1d7010886fca50b = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ambulance", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_3acf7644272fb6b8b5d3b74cadfc9641.setIcon(icon_3feae34297715f3ae1d7010886fca50b);
        
    
        var popup_59f7ceee9e6f26b99968817cb3d7704a = L.popup({"maxWidth": "100%"});

        
            
                var html_41f0714c1a6608f69280a9bf06558f13 = $(`<div id="html_41f0714c1a6608f69280a9bf06558f13" style="width: 100.0%; height: 100.0%;">WB12A0011</div>`)[0];
                popup_59f7ceee9e6f26b99968817cb3d7704a.setContent(html_41f0714c1a6608f69280a9bf06558f13);
            
        

        marker_3acf7644272fb6b8b5d3b74cadfc9641.bindPopup(popup_59f7ceee9e6f26b99968817cb3d7704a)
        ;

        
    
    
            var marker_a555a1de35b7772b04212e7d9b415c1b = L.marker(
                [22.653376, 88.359232],
                {}
            ).addTo(feature_group_bf9be3b552c0123473803f2209c93edd);
        
    
            var icon_c5bf646d8c7800a9af60a10e8603df22 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ambulance", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_a555a1de35b7772b04212e7d9b415c1b.setIcon(icon_c5bf646d8c7800a9af60a10e8603df22);
        
    
        var popup_5cec907eaf80dfe074b977a6cf82fcae = L.popup({"maxWidth": "100%"});

        
            
                var html_7f468fa2984e9f55f87178bb51c24306 = $(`<div id="html_7f468fa2984e9f55f87178bb51c24306" style="width: 100.0%; height: 100.0%;">WB12A0010</div>`)[0];
                popup_5cec907eaf80dfe074b977a6cf82fcae.setContent(html_7f468fa2984e9f55f87178bb51c24306);
            
        

        marker_a555a1de35b7772b04212e7d9b415c1b.bindPopup(popup_5cec907eaf80dfe074b977a6cf82fcae)
        ;

        
    
    
            var marker_45301924e262cb78e6fba36320640eba = L.marker(
                [22.559628171320554, 88.39632949346063],
                {}
            ).addTo(feature_group_bf9be3b552c0123473803f2209c93edd);
        
    
            var icon_9c4f316535c464f1a4983e8002a75e12 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_45301924e262cb78e6fba36320640eba.setIcon(icon_9c4f316535c464f1a4983e8002a75e12);
        
    
        var popup_92e2b9ce8e7b4ba82dd78cc6bfc44254 = L.popup({"maxWidth": "100%"});

        
            
                var html_2bc254f97732c481ba21b2ce4c050380 = $(`<div id="html_2bc254f97732c481ba21b2ce4c050380" style="width: 100.0%; height: 100.0%;">Your Location</div>`)[0];
                popup_92e2b9ce8e7b4ba82dd78cc6bfc44254.setContent(html_2bc254f97732c481ba21b2ce4c050380);
            
        

        marker_45301924e262cb78e6fba36320640eba.bindPopup(popup_92e2b9ce8e7b4ba82dd78cc6bfc44254)
        ;

        
    
</script>
</html>