<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_6d5eb2a35311ba5495c839a0abe4ffde {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_6d5eb2a35311ba5495c839a0abe4ffde" ></div>
        
</body>
<script>
    
    
            var map_6d5eb2a35311ba5495c839a0abe4ffde = L.map(
                "map_6d5eb2a35311ba5495c839a0abe4ffde",
                {
                    center: [22.559628171320554, 88.39632949346063],
                    crs: L.CRS.EPSG3857,
                    zoom: 12,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_18ae819cf1ada968e90756244905f989 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_6d5eb2a35311ba5495c839a0abe4ffde);
        
    
            var feature_group_5f3634ee4624424da2fdf87d39568f00 = L.featureGroup(
                {}
            ).addTo(map_6d5eb2a35311ba5495c839a0abe4ffde);
        
    
            var marker_a81fc5ad2a36360672e429a47c3359ae = L.marker(
                [22.557443, 88.412302],
                {}
            ).addTo(feature_group_5f3634ee4624424da2fdf87d39568f00);
        
    
            var icon_7e968b07c09a93b999728ac598e05aae = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ambulance", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_a81fc5ad2a36360672e429a47c3359ae.setIcon(icon_7e968b07c09a93b999728ac598e05aae);
        
    
        var popup_16395f0ad817b9072238011e7ed33aa5 = L.popup({"maxWidth": "100%"});

        
            
                var html_4a0ee4a4371ebf645419fb60d6eedc50 = $(`<div id="html_4a0ee4a4371ebf645419fb60d6eedc50" style="width: 100.0%; height: 100.0%;">WB12A0001</div>`)[0];
                popup_16395f0ad817b9072238011e7ed33aa5.setContent(html_4a0ee4a4371ebf645419fb60d6eedc50);
            
        

        marker_a81fc5ad2a36360672e429a47c3359ae.bindPopup(popup_16395f0ad817b9072238011e7ed33aa5)
        ;

        
    
    
            var marker_ba0c212093b83d522b31b7779ec03a04 = L.marker(
                [22.562373, 88.399139],
                {}
            ).addTo(feature_group_5f3634ee4624424da2fdf87d39568f00);
        
    
            var icon_516ac00c1bdadfb0f860c2bba5bebf86 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ambulance", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_ba0c212093b83d522b31b7779ec03a04.setIcon(icon_516ac00c1bdadfb0f860c2bba5bebf86);
        
    
        var popup_ec8e157d84c11b1b7a84b27b39fdbc0a = L.popup({"maxWidth": "100%"});

        
            
                var html_2bfd13c0f87f5e8f448f7ee8de285cdd = $(`<div id="html_2bfd13c0f87f5e8f448f7ee8de285cdd" style="width: 100.0%; height: 100.0%;">WB12B0000(Premium)</div>`)[0];
                popup_ec8e157d84c11b1b7a84b27b39fdbc0a.setContent(html_2bfd13c0f87f5e8f448f7ee8de285cdd);
            
        

        marker_ba0c212093b83d522b31b7779ec03a04.bindPopup(popup_ec8e157d84c11b1b7a84b27b39fdbc0a)
        ;

        
    
    
            var marker_d5a70d0478b2c78445c7b2a3e1ed59fe = L.marker(
                [22.563419, 88.373671],
                {}
            ).addTo(feature_group_5f3634ee4624424da2fdf87d39568f00);
        
    
            var icon_0dc6a8331295cd42ae327337436db699 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ambulance", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_d5a70d0478b2c78445c7b2a3e1ed59fe.setIcon(icon_0dc6a8331295cd42ae327337436db699);
        
    
        var popup_6b4d694dab8c801d6d874fb1f52063c4 = L.popup({"maxWidth": "100%"});

        
            
                var html_0e49c3d51ebaf5e7a56423d1027fe613 = $(`<div id="html_0e49c3d51ebaf5e7a56423d1027fe613" style="width: 100.0%; height: 100.0%;">WB12B0002</div>`)[0];
                popup_6b4d694dab8c801d6d874fb1f52063c4.setContent(html_0e49c3d51ebaf5e7a56423d1027fe613);
            
        

        marker_d5a70d0478b2c78445c7b2a3e1ed59fe.bindPopup(popup_6b4d694dab8c801d6d874fb1f52063c4)
        ;

        
    
    
            var marker_40f69e7c8c75178ef48bb1bdb0a7cf10 = L.marker(
                [22.573611, 88.365068],
                {}
            ).addTo(feature_group_5f3634ee4624424da2fdf87d39568f00);
        
    
            var icon_6f4172fb9ea8e908bb89433a5f97a90f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ambulance", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_40f69e7c8c75178ef48bb1bdb0a7cf10.setIcon(icon_6f4172fb9ea8e908bb89433a5f97a90f);
        
    
        var popup_8564945a8d4ecb12121f864801a00feb = L.popup({"maxWidth": "100%"});

        
            
                var html_f1bc136fb1acb8a4d528dcb87dbdbaaf = $(`<div id="html_f1bc136fb1acb8a4d528dcb87dbdbaaf" style="width: 100.0%; height: 100.0%;">WB31C0001(Premium)</div>`)[0];
                popup_8564945a8d4ecb12121f864801a00feb.setContent(html_f1bc136fb1acb8a4d528dcb87dbdbaaf);
            
        

        marker_40f69e7c8c75178ef48bb1bdb0a7cf10.bindPopup(popup_8564945a8d4ecb12121f864801a00feb)
        ;

        
    
    
            var marker_47fee6415866b89bad19b68877055cd3 = L.marker(
                [22.579585, 88.361073],
                {}
            ).addTo(feature_group_5f3634ee4624424da2fdf87d39568f00);
        
    
            var icon_01fbc348145575d0ba07f58787ce0d26 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ambulance", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_47fee6415866b89bad19b68877055cd3.setIcon(icon_01fbc348145575d0ba07f58787ce0d26);
        
    
        var popup_512fe94c948bc0b08aeb95e89c4d41fe = L.popup({"maxWidth": "100%"});

        
            
                var html_7ade5859f53c3371ff186cce56899969 = $(`<div id="html_7ade5859f53c3371ff186cce56899969" style="width: 100.0%; height: 100.0%;">WB12A0003</div>`)[0];
                popup_512fe94c948bc0b08aeb95e89c4d41fe.setContent(html_7ade5859f53c3371ff186cce56899969);
            
        

        marker_47fee6415866b89bad19b68877055cd3.bindPopup(popup_512fe94c948bc0b08aeb95e89c4d41fe)
        ;

        
    
    
            var marker_f83599f877759161de983cb8d60a73b1 = L.marker(
                [22.542654, 88.398308],
                {}
            ).addTo(feature_group_5f3634ee4624424da2fdf87d39568f00);
        
    
            var icon_dab885c686d65b0af0d070d2dbc00316 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ambulance", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_f83599f877759161de983cb8d60a73b1.setIcon(icon_dab885c686d65b0af0d070d2dbc00316);
        
    
        var popup_12759412adfdec598ad55dada0ec82b0 = L.popup({"maxWidth": "100%"});

        
            
                var html_21739678e5b23ae568611f6ac0e6eaba = $(`<div id="html_21739678e5b23ae568611f6ac0e6eaba" style="width: 100.0%; height: 100.0%;">WB12A0004</div>`)[0];
                popup_12759412adfdec598ad55dada0ec82b0.setContent(html_21739678e5b23ae568611f6ac0e6eaba);
            
        

        marker_f83599f877759161de983cb8d60a73b1.bindPopup(popup_12759412adfdec598ad55dada0ec82b0)
        ;

        
    
    
            var marker_31d032d60730bee612861e95b5c58913 = L.marker(
                [22.513388, 88.401932],
                {}
            ).addTo(feature_group_5f3634ee4624424da2fdf87d39568f00);
        
    
            var icon_dcf349aad63eb64ecf2e406f66a28394 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ambulance", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_31d032d60730bee612861e95b5c58913.setIcon(icon_dcf349aad63eb64ecf2e406f66a28394);
        
    
        var popup_342a84f8ecebad76a29ac78d4ca8d36c = L.popup({"maxWidth": "100%"});

        
            
                var html_f8eaa7c7fbd7630948f3232c627bad04 = $(`<div id="html_f8eaa7c7fbd7630948f3232c627bad04" style="width: 100.0%; height: 100.0%;">WB31C0002(Premium)</div>`)[0];
                popup_342a84f8ecebad76a29ac78d4ca8d36c.setContent(html_f8eaa7c7fbd7630948f3232c627bad04);
            
        

        marker_31d032d60730bee612861e95b5c58913.bindPopup(popup_342a84f8ecebad76a29ac78d4ca8d36c)
        ;

        
    
    
            var marker_0f44a352d2510e509b090648acccc528 = L.marker(
                [22.495121, 88.398425],
                {}
            ).addTo(feature_group_5f3634ee4624424da2fdf87d39568f00);
        
    
            var icon_f0d8041fde3c3c1fa5312bc3c28e870f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ambulance", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_0f44a352d2510e509b090648acccc528.setIcon(icon_f0d8041fde3c3c1fa5312bc3c28e870f);
        
    
        var popup_9ce49ecb3367ec955ab462a515401a2f = L.popup({"maxWidth": "100%"});

        
            
                var html_8a645e312253e8142b89bf082eb3c6cb = $(`<div id="html_8a645e312253e8142b89bf082eb3c6cb" style="width: 100.0%; height: 100.0%;">WB12A0005</div>`)[0];
                popup_9ce49ecb3367ec955ab462a515401a2f.setContent(html_8a645e312253e8142b89bf082eb3c6cb);
            
        

        marker_0f44a352d2510e509b090648acccc528.bindPopup(popup_9ce49ecb3367ec955ab462a515401a2f)
        ;

        
    
    
            var marker_673378774f9e6f7ebc16b9da013e7e47 = L.marker(
                [22.521017, 88.371429],
                {}
            ).addTo(feature_group_5f3634ee4624424da2fdf87d39568f00);
        
    
            var icon_786efc9fb6067ec88c9aa6fa4bcdba8d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ambulance", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_673378774f9e6f7ebc16b9da013e7e47.setIcon(icon_786efc9fb6067ec88c9aa6fa4bcdba8d);
        
    
        var popup_dcc9a41966c2980ae69f1a9676eb953e = L.popup({"maxWidth": "100%"});

        
            
                var html_f636aa5323f9834215705589d3d48e46 = $(`<div id="html_f636aa5323f9834215705589d3d48e46" style="width: 100.0%; height: 100.0%;">WB31C0003(Premium)</div>`)[0];
                popup_dcc9a41966c2980ae69f1a9676eb953e.setContent(html_f636aa5323f9834215705589d3d48e46);
            
        

        marker_673378774f9e6f7ebc16b9da013e7e47.bindPopup(popup_dcc9a41966c2980ae69f1a9676eb953e)
        ;

        
    
    
            var marker_c4fc9da39734e34221be00089e5df5ae = L.marker(
                [22.518774, 88.346186],
                {}
            ).addTo(feature_group_5f3634ee4624424da2fdf87d39568f00);
        
    
            var icon_cd48ff99d5237599efe8df9d6da5660e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ambulance", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_c4fc9da39734e34221be00089e5df5ae.setIcon(icon_cd48ff99d5237599efe8df9d6da5660e);
        
    
        var popup_e365997ee6c1ba86bbb62828eb4b3748 = L.popup({"maxWidth": "100%"});

        
            
                var html_bcd4f021cde7ec9149c10d161bb0a7ff = $(`<div id="html_bcd4f021cde7ec9149c10d161bb0a7ff" style="width: 100.0%; height: 100.0%;">WB12A0006</div>`)[0];
                popup_e365997ee6c1ba86bbb62828eb4b3748.setContent(html_bcd4f021cde7ec9149c10d161bb0a7ff);
            
        

        marker_c4fc9da39734e34221be00089e5df5ae.bindPopup(popup_e365997ee6c1ba86bbb62828eb4b3748)
        ;

        
    
    
            var marker_1dea88290cda407d2fbd54366f9bb1c6 = L.marker(
                [22.541981, 88.347167],
                {}
            ).addTo(feature_group_5f3634ee4624424da2fdf87d39568f00);
        
    
            var icon_fc9405aa965ea84698ba79ec6465bff5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ambulance", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_1dea88290cda407d2fbd54366f9bb1c6.setIcon(icon_fc9405aa965ea84698ba79ec6465bff5);
        
    
        var popup_910ecc0996b2f691dbce945097e12d5e = L.popup({"maxWidth": "100%"});

        
            
                var html_8631d4eda0119e861bdf9d0cc0e986fc = $(`<div id="html_8631d4eda0119e861bdf9d0cc0e986fc" style="width: 100.0%; height: 100.0%;">WB31C0005(Premium)</div>`)[0];
                popup_910ecc0996b2f691dbce945097e12d5e.setContent(html_8631d4eda0119e861bdf9d0cc0e986fc);
            
        

        marker_1dea88290cda407d2fbd54366f9bb1c6.bindPopup(popup_910ecc0996b2f691dbce945097e12d5e)
        ;

        
    
    
            var marker_7405e469de8fa9297730fe8cdeff6ca7 = L.marker(
                [22.545623, 88.347593],
                {}
            ).addTo(feature_group_5f3634ee4624424da2fdf87d39568f00);
        
    
            var icon_61bb28333998a43b42072a090a148bb9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ambulance", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_7405e469de8fa9297730fe8cdeff6ca7.setIcon(icon_61bb28333998a43b42072a090a148bb9);
        
    
        var popup_abb4508d1b01b41f1045d87d1b6917ce = L.popup({"maxWidth": "100%"});

        
            
                var html_9e178d2f58bd9ce53c7777f456a83453 = $(`<div id="html_9e178d2f58bd9ce53c7777f456a83453" style="width: 100.0%; height: 100.0%;">WB12A0007</div>`)[0];
                popup_abb4508d1b01b41f1045d87d1b6917ce.setContent(html_9e178d2f58bd9ce53c7777f456a83453);
            
        

        marker_7405e469de8fa9297730fe8cdeff6ca7.bindPopup(popup_abb4508d1b01b41f1045d87d1b6917ce)
        ;

        
    
    
            var marker_a88127b95dbb47aaa4a9a1f10d44ecd9 = L.marker(
                [22.541624, 88.345182],
                {}
            ).addTo(feature_group_5f3634ee4624424da2fdf87d39568f00);
        
    
            var icon_d2c625c30f5b858e7f70eeeb5fe4e0ad = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ambulance", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_a88127b95dbb47aaa4a9a1f10d44ecd9.setIcon(icon_d2c625c30f5b858e7f70eeeb5fe4e0ad);
        
    
        var popup_b00d0dca2ea95277183948b600fec8e8 = L.popup({"maxWidth": "100%"});

        
            
                var html_f2a8f310971123ecb807c780aafecd77 = $(`<div id="html_f2a8f310971123ecb807c780aafecd77" style="width: 100.0%; height: 100.0%;">WB12A0008</div>`)[0];
                popup_b00d0dca2ea95277183948b600fec8e8.setContent(html_f2a8f310971123ecb807c780aafecd77);
            
        

        marker_a88127b95dbb47aaa4a9a1f10d44ecd9.bindPopup(popup_b00d0dca2ea95277183948b600fec8e8)
        ;

        
    
    
            var marker_e89543b73774712618eb3ea984a8e145 = L.marker(
                [22.543717, 88.000122],
                {}
            ).addTo(feature_group_5f3634ee4624424da2fdf87d39568f00);
        
    
            var icon_91f6f8bb4378630c67ff49f2fe42a75c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ambulance", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_e89543b73774712618eb3ea984a8e145.setIcon(icon_91f6f8bb4378630c67ff49f2fe42a75c);
        
    
        var popup_1b19daec7d9de8a10e5193d17dfbf4be = L.popup({"maxWidth": "100%"});

        
            
                var html_b4d3acc43dd33f4a9687b7de3a49e011 = $(`<div id="html_b4d3acc43dd33f4a9687b7de3a49e011" style="width: 100.0%; height: 100.0%;">WB31C0006(Premium)</div>`)[0];
                popup_1b19daec7d9de8a10e5193d17dfbf4be.setContent(html_b4d3acc43dd33f4a9687b7de3a49e011);
            
        

        marker_e89543b73774712618eb3ea984a8e145.bindPopup(popup_1b19daec7d9de8a10e5193d17dfbf4be)
        ;

        
    
    
            var marker_e479a6b94eb8c597dba22dd9529e4ddc = L.marker(
                [22.559492, 88.350486],
                {}
            ).addTo(feature_group_5f3634ee4624424da2fdf87d39568f00);
        
    
            var icon_73c053059bce5bdaf63dc726f073adfe = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ambulance", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_e479a6b94eb8c597dba22dd9529e4ddc.setIcon(icon_73c053059bce5bdaf63dc726f073adfe);
        
    
        var popup_c3c0a596d1d9bff6a1b922b83f1fd2f0 = L.popup({"maxWidth": "100%"});

        
            
                var html_29100b2bced717cdf1d4975d7aed6e77 = $(`<div id="html_29100b2bced717cdf1d4975d7aed6e77" style="width: 100.0%; height: 100.0%;">WB12A0009</div>`)[0];
                popup_c3c0a596d1d9bff6a1b922b83f1fd2f0.setContent(html_29100b2bced717cdf1d4975d7aed6e77);
            
        

        marker_e479a6b94eb8c597dba22dd9529e4ddc.bindPopup(popup_c3c0a596d1d9bff6a1b922b83f1fd2f0)
        ;

        
    
    
            var marker_c5cfbc4e6cc33db53b67d20b2d955b25 = L.marker(
                [22.603314, 88.41352],
                {}
            ).addTo(feature_group_5f3634ee4624424da2fdf87d39568f00);
        
    
            var icon_68d12822098008780993ad4511253825 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ambulance", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_c5cfbc4e6cc33db53b67d20b2d955b25.setIcon(icon_68d12822098008780993ad4511253825);
        
    
        var popup_0fa9d05f4fabb86bbd610a94ff598c3c = L.popup({"maxWidth": "100%"});

        
            
                var html_19871a57b8badc2d6670c6ef23bed30a = $(`<div id="html_19871a57b8badc2d6670c6ef23bed30a" style="width: 100.0%; height: 100.0%;">WB31C0017(Premium)</div>`)[0];
                popup_0fa9d05f4fabb86bbd610a94ff598c3c.setContent(html_19871a57b8badc2d6670c6ef23bed30a);
            
        

        marker_c5cfbc4e6cc33db53b67d20b2d955b25.bindPopup(popup_0fa9d05f4fabb86bbd610a94ff598c3c)
        ;

        
    
    
            var marker_7008dc90d97ad4e7b0c527caa70c9ef0 = L.marker(
                [22.640845, 88.43007],
                {}
            ).addTo(feature_group_5f3634ee4624424da2fdf87d39568f00);
        
    
            var icon_84978e4591e292b6d9bb39269476ca20 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ambulance", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_7008dc90d97ad4e7b0c527caa70c9ef0.setIcon(icon_84978e4591e292b6d9bb39269476ca20);
        
    
        var popup_513eac43bdf03d6c8182a8f2ff3a2440 = L.popup({"maxWidth": "100%"});

        
            
                var html_6fbde726a74c539928c1ee68f0c95208 = $(`<div id="html_6fbde726a74c539928c1ee68f0c95208" style="width: 100.0%; height: 100.0%;">WB12A0011</div>`)[0];
                popup_513eac43bdf03d6c8182a8f2ff3a2440.setContent(html_6fbde726a74c539928c1ee68f0c95208);
            
        

        marker_7008dc90d97ad4e7b0c527caa70c9ef0.bindPopup(popup_513eac43bdf03d6c8182a8f2ff3a2440)
        ;

        
    
    
            var marker_b2a6e848a1622a0a6a2e0b2645e49418 = L.marker(
                [22.653376, 88.359232],
                {}
            ).addTo(feature_group_5f3634ee4624424da2fdf87d39568f00);
        
    
            var icon_ebdb25db269356d9afc7caac8ee80ac5 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "ambulance", "iconColor": "white", "markerColor": "green", "prefix": "fa"}
            );
            marker_b2a6e848a1622a0a6a2e0b2645e49418.setIcon(icon_ebdb25db269356d9afc7caac8ee80ac5);
        
    
        var popup_cb346241600b98644a1e0527d85e2856 = L.popup({"maxWidth": "100%"});

        
            
                var html_72c10c60b38ebefc2a8b744ab50f51e6 = $(`<div id="html_72c10c60b38ebefc2a8b744ab50f51e6" style="width: 100.0%; height: 100.0%;">WB12A0010</div>`)[0];
                popup_cb346241600b98644a1e0527d85e2856.setContent(html_72c10c60b38ebefc2a8b744ab50f51e6);
            
        

        marker_b2a6e848a1622a0a6a2e0b2645e49418.bindPopup(popup_cb346241600b98644a1e0527d85e2856)
        ;

        
    
    
            var marker_faa73ce863fcd3550b8e9a0c34e3e1be = L.marker(
                [22.559628171320554, 88.39632949346063],
                {}
            ).addTo(feature_group_5f3634ee4624424da2fdf87d39568f00);
        
    
            var icon_9ad70ceb21716be41d77824fe5099cd0 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_faa73ce863fcd3550b8e9a0c34e3e1be.setIcon(icon_9ad70ceb21716be41d77824fe5099cd0);
        
    
        var popup_824a5beed8afe6d4b0d9195d79f601f1 = L.popup({"maxWidth": "100%"});

        
            
                var html_2f3b3e3d6a4169dff94a5c5709d92653 = $(`<div id="html_2f3b3e3d6a4169dff94a5c5709d92653" style="width: 100.0%; height: 100.0%;">Your Location</div>`)[0];
                popup_824a5beed8afe6d4b0d9195d79f601f1.setContent(html_2f3b3e3d6a4169dff94a5c5709d92653);
            
        

        marker_faa73ce863fcd3550b8e9a0c34e3e1be.bindPopup(popup_824a5beed8afe6d4b0d9195d79f601f1)
        ;

        
    
</script>
</html>